{{#if filterParams.ascending }}
    <strong>Ascending</strong> | <a class="filter-toggle" href="/density?sort=descending">Descending</a>
{{else}}
    <a class="filter-toggle" href="/density?sort=ascending">Ascending</a> | <strong>Descending</strong>
{{/if}}