<script src="/public/js/canvas.js"></script>
<div class="submitWrapper">
    <h1>Submit your own!</h1>
    <canvas id="mainCanvas" width="400" height="400"></canvas>
    <div class="form">
        <div class="palette"></div>
        <input type="text" name="name" placeholder="Name your drawing!" />
        <input type="text" name="author" placeholder="Created by..." />
        <button class="submit">Submit</button>
    </div>
</div>